<a href="https://colab.research.google.com/github/viett887g/pandas-2/blob/main/pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import random

In [ ]:
Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào

In [ ]:
name = pd.Series(input() for i in range(10))

qw
qe
qr
qt
qt
qy
q
qu
qi
qa

In [ ]:
Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào

In [ ]:
daybrith= pd.Series(input() for i in range(10))

12
14
15
16
17
11
10
23
24
26

In [ ]:
Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập

In [ ]:
h_wage=pd.Series(random.randint(100,1000) for i in range(10))

In [ ]:
Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập

In [ ]:
w_hour=pd.Series(random.randint(0,10) for i in range(10))

In [ ]:
Tạo 1 dataframe bằng cách ghép các series trên lại với nhau

In [ ]:
data={"Họ và tên": name ,"Ngày sinh": daybrith ,"Tiền công/h":h_wage ,"Số giờ công(h)": w_hour , "Thực lĩnh" : thuclnh}
df=pd.DataFrame(data)

In [ ]:
thuclnh=pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
thuclnh= w_hour*h_wage

In [ ]:
print(df)

  Họ và tên Ngày sinh  Tiền công/h  Số giờ công(h)  Thực lĩnh
0        qw        12          775               6       4650
1        qe        14          808               8       6464
2        qr        15          813               8       6504
3        qt        16          611               2       1222
4        qt        17          749               2       1498
5        qy        11          917               6       5502
6         q        10          150               5        750
7        qu        23          362               2        724
8        qi        24          201               6       1206
9        qa        26          998               3       2994

In [ ]:
câu 2 : Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:

In [ ]:
Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe
này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;

In [29]:
hoten=["A", "B","C","D","E", "F","G","H","I","J"]
tuoi=[random.randint(14,20) for i in range(10)]
gtinh=["Nam","Nam","Nam","Nam","Nam","Nữ","Nữ","Nữ","Nữ","Nữ"]

In [30]:
data=[ho_ten,tuoi,gtinh]
df=pd.DataFrame(data ,index=["Họ và tên","Tuổi","Giới tính"])
print(df)

             0    1    2    3    4   5   6   7   8   9
Họ và tên    A    B    C    D    E   F   G   H   I   J
Tuổi        20   19   17   17   19  17  18  14  18  16
Giới tính  Nam  Nam  Nam  Nam  Nam  Nữ  Nữ  Nữ  Nữ  Nữ

In [ ]:
Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng
với key. Xuất kết quả ra màn hình;

In [37]:
name1= pd.Series(input() for i in range(10))

a
b
c
d
e
f
g
h
j
k

In [5]:
age= pd.Series(input() for i in range(10))

12
14
51
6
16
14
15
15
16
17

In [32]:
sex= pd.Series(input() for i in range(10))

m
m
m
m
l
l
l
m
l
m

In [38]:
seri = {"Họ và tên ": name1, "tuổi" : age , "giới tính ": sex}
seri1 = pd.DataFrame(seri)
print(seri1)

  Họ và tên  tuổi giới tính
0          a   12          m
1          b   14          m
2          c   51          m
3          d    6          m
4          e   16          l
5          f   14          l
6          g   15          l
7          h   15          m
8          j   16          l
9          k   17          m

In [ ]:
Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn
hình;

In [40]:
#dictionary 
lis =[{"Họ và tên ": name1} , {"tuổi" : age } , {"giới tính ": sex}]
df=  pd.DataFrame(lis)
print(df)

                                          Họ và tên   \
0  0    a
1    b
2    c
3    d
4    e
5    f
6   ...
1                                                NaN
2                                                NaN

                                                tuổi  \
0                                                NaN
1  0    12
1    14
2    51
3     6
4    16
5    1...
2                                                NaN

                                          giới tính
0                                                NaN
1                                                NaN
2  0    m
1    m
2    m
3    m
4    l
5    l
6   ...

In [ ]:
Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo
dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [47]:
data2= zip(name1, age, sex)
dff=pd.DataFrame(data2, columns=["Họ và tên","Tuổi","Giới Tính"])
print(dff)

  Họ và tên Tuổi Giới Tính
0         a   12         m
1         b   14         m
2         c   51         m
3         d    6         m
4         e   16         l
5         f   14         l
6         g   15         l
7         h   15         m
8         j   16         l
9         k   17         m